<div class="page-content-wrap" id="contact_form_answers">
  <div class="row">
    <div class="col-md-12">
      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="panel-title"><span class="fa fa-archive"></span> <%= t('.list_responses', default: 'List of Items') %></h3>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-default" href="<%= url_for action: :index %>"><%= t('.back_btn', default: 'Back') %></a>
                </div>
            </div>
        </div>
        <div class="panel-body">

          <table class="table">
            <thead>
            <tr>
              <% @op_fields.each do |f| %>
                <th><%= f[:label].to_s.translate %></th>
              <% end %>
              <th><%= t('.created_at', default: 'Registered at') %></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @forms.each do |form| %>
                <% value = (JSON.parse(form.settings).to_sym rescue form.value) %>
                <tr>
                <% @op_fields.each do |default| %>
                    <% cid = default[:cid].to_sym %>
                    <% if default[:field_type] == "file" %>
                        <td>
                        <%# flatten is necessary for backwards compatibility: ["file"].flatten == [["file]].flatten %>
                        <% [value[:fields][cid]].flatten.each do |file| %>
                            <%= link_to file.split('/').last, file, target: '_blank' %><br>
                        <% end %>
                        </td>
                    <% elsif default[:field_type] == "radio" || default[:field_type] == "checkboxes" %>
                        <td><%= value[:fields][cid].map { |f| f.to_s.translate }.join(', ') if value[:fields][cid].present? %></td>
                    <% else %>
                        <td><%= value[:fields][cid] %></td>
                    <% end %>
                <% end %>
                    <td><%= value[:created_at] %></td>
                    <td>
                      <%= link_to raw('<i class="fa fa-times"></i>'),
                                  { action: :del_response, response_id: form.id },
                                  method: :delete, data: { confirm: t('.actions.confirm_delete', default: 'Are you sure?') },
                                  class: 'btn btn-danger btn-xs', title: t('.actions.delete', default: 'Delete') %>
                    </td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <%= content_tag("div", raw("#{t('camaleon_cms.admin.message.data_found_list', default: 'No items found')}"), class: "alert alert-warning") if @forms.empty? %>
            <%= raw cama_do_pagination(@forms) %>
        </div>
      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>
  </div>
  <!-- END PAGE CONTENT WRAPPER -->
</div>
